# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local
.env

# Ignorar directorio de dependencias
/node_modules

# Ignorar archivos de registro y salida de errores
/logs
*.log

# Ignorar archivos de respaldo y temporales
*.bak
*.tmp

# Ignorar archivos de compilación y construcción
/build
/dist

# Ignorar archivos de configuración de IDE
.idea
.vscode